

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
.header-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    height: 300px;
}

.left-section, .middle-section {
    display: flex;
    flex-direction: column;
    margin-left:2rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-self: right;
    margin-right : 2rem;
}
.left-name, .left-city , .left-tag {
    margin: 0;
}

.header-container .left-section .left-name {
    color: #D3573C;
    font-size: 64px;
}

.header-container .left-section .left-city {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;

}

.header-container .left-section .left-tag {
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.right-section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 120px;
    left: 20%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 1.5rem; 
}




/* filter */
#filter {
    display: flex;
    flex-direction: row;
    margin:1.5rem 6rem;
}

#filter-label {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 70px;
    font-size: 18px;
    line-height: 23px;
    margin-right: 1rem;
}

#filter-container {
    background: #911C1C;
    border-radius: 5px;
    width: 170px;
}

.filter-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    position: relative;
    display: none;
    margin:0;

}
#filter li {
    display: flex;
    align-items: center;
    width: 150px;
    height: 70px;
    margin: 0 auto;
    padding: 0 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
}

#popularity, #date {
    border-bottom:1px solid #FFFFFF;
    
}
#popularity {
    display: flex;
    justify-content: space-between;
}

.filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    width: 170px;
    background-color: #901C1C;
    color: white;
    border: none;
    height: 69px;
    padding: 0 1rem;
    
}

.fa-chevron-down {
    color:white;
}

.active {
    display: block;
}
.hidden {
    display: none;
}

/* card gallery */

.photographer-gallery {
    margin: auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.card-container {
    width: 350px;
    height: 400px; 
}

.card-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-img, .card-video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
}
.card-infos {
    display: flex;
    justify-content: space-between;
}
.card-title, .card-likes {
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}

.card-container:hover, .card-container:focus, .card-container:active {
    font-weight: 700;   
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow:  1px 1px 5px #D3573C;
    height: 340px;  
    border-style: dotted;           
}

.fa-heart {
    color: #911C1C;
}

.card-likes:hover , i:hover {
    color:blue
}
/* encart statique infos*/
.photographer-likes-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 89px;
    background: #DB8876;
    border-radius: 5px;
    padding: 0 1.7rem;
    position: fixed;
    bottom: 5px;
    right: 5rem;
    font-size: 24px;
    line-height: 31px;
    z-index: 5;
}

.container-likes {
    display: flex;
    align-items: center;
}

.total-likes {
    margin-right: 0.3rem;
}
.total-likes .fa-heart .likes {
    color:black;
}

/* contact form*/

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin:0.3rem 0;
    line-height:36px;
    
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
}

form input #message {
    height: 100px;
}
form button {
    margin-top: 2rem;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    color: red;
    display: block;
    margin-top: 7px;
    text-align: right;
    line-height: 1em;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid red;
  }
  
  input[data-error]::after {
      content: attr(data-error);
      font-size: 1.5em;
      color: red;
  } 

/*LIGHTBOX */

#main-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    
    
    
}


#close_modal_lb, #leftBtn, #rightBtn {
    width: 50px;
    height: 50px;
    color:#911C1C;
    font-size: 40px;
    background-color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
#close_modal_lb {
  text-align: right;
}
.wrapper-media{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: row-reverse; 
}

li:nth-child(1){
    overflow: hidden;
}
.img-container img , .img-container video {
    width: 1000px;
    height: 900px;
    object-fit: cover;
    justify-content: center;
    border: 5px solid #901C1C;
    border-radius: 0;
    
}
.img-container {
    padding-left: 50px;
}

#lightbox-text {
    color:#911C1C;
    font-size: 24px;
    margin:1rem 0;
}

.carousel {
    display: flex;
}

.fa-angle-left, .fa-angle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

#leftBtn, #rightBtn {
    display: flex;
    justify-content: center;
    display: none;
}

/* focus & hover*/
.contact_button:hover, .contact_button:focus,
.filter-btn:hover, .filter-btn:focus,
.fa-chevron-down:hover, .fa-chevron-down:focus,
/*ul:hover, ul:focus,*/
li:hover, li:focus

{
    background-color: #D3573C;
    color: black;
}                           