@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 1rem auto;
    max-width: 1400px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight:400;
    font-style: normal;
    
}

.photographer_section article:hover,
.photographer_section article:focus
     {
    font-weight: 700;   
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow:  1px 1px 5px #D3573C;
    width:80%;
    height: 350px;     
    outline: 3px solid #D3573C;      

   
}   

.photographer_section article:active,
a:active {
    color: #000000;
    background-color: #f6acac;
    border-radius: 15px;
    box-shadow:  1px 1px 5px #D3573C;
    width:80%;
    height: 350px;              

}   

.photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color:inherit
}
  
  a:hover, a:visited, a:focus {
    color: #000000;
    text-decoration: none;
  }


.photographer_section article h2 {
    margin: 10px auto;
    color: #D3573C;
    font-size: 36px;
    line-height: 47px;
   
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photographer_section .location {
    color: #901C1C;
    font-size: 13px;
    line-height: 17px; 
}

.photographer_section .tagline {
    font-size:  13px;
    line-height: 17px;
    margin:1px 0;
}

.photographer_section .price {
    color: #757575;
    font-size:  13px;
    line-height: 17px;
    
}